body{
    font-family: 'Segoe UI', sansserif;
    text-align: center;
    color: #333;
}
#main{
    margin: 30px 10px;
    padding: 15px;
    border-radius: 5px;
    background-color: #DDDDDD;
}
  
h1{
    font-size: 4rem;
    font-weight: bold;
    display: block;
    margin-bottom: 0;
}
  
main p{
    display: block;
    font-size: 1.2rem;
    margin-top: 16px;
    margin-bottom: 16px;
}
  
#img-div{
    margin: 0;
    padding: 10px;
    background: white;
    border-radius: 5px;
}
img{
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
    border-radius: 5px;
    max-width: 100%;
}
#img-caption{
    margin: 15px 0 5px 0;
}
  
#tribute-info{
    display: block;
}
h3{
    margin: 50px 0;
    text-align: center;
    font-size: 1.17rem;
}
  
ul{
    max-width: 550px;
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 1.6;
}
li{
    margin: 16px 0;
    display: list-item;
    text-align: -webkit-match-parent;
}
  
blockquote{
    font-style: italic;
    max-width: 545px;
    margin: 0 auto 50px auto;
    text-align: left;
   display: block;
}